.box{
    width: 704px;
height: 258px;
left: 298px;
top: 242px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 86px;


letter-spacing: -0.02em;
}
.header-pera{
    width: 629px;
height: 80px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;


color: #404040;
}
.button{
width: 213px;
height: 66px;
background: #495AF0;
}